
html{
  position:relative; 
  min-height: 100%;
}

/*Header*/
header {
  background:#f2f2f2;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
}

header h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(100,100,100);
  font-size: 54px;
  border: 0;
  padding: 0;
  margin-right: 10%;
  text-align: right;
}

/*Navigation-bar*/
.topnav {
    background-color: rgb(230,230,230);
    overflow: hidden;
    width: 100%;
}

.topnav a {
    float: left;
    color: rgb(100,100,100);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color:rgb(181,181,181);
  color: white;
}

/*Welcome intro*/
.intro {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: italic;
  margin-left: 20px;
  width: 40%;
  min-width: 260px;
  top:60%; 
  color: rgb(100,100,100);
}

/*Image gallery*/
.gallery img {
    width: 30%;
    min-width: 260px;
    float: left;
    margin: 20px;
}

.gallery img:hover {
  opacity: 50%;
}

/*Form*/
.form {
  width: 30%;
  float: left;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(100,100,100);
  min-width: 260px;
}

.form p {
  font-size: 18px;
  letter-spacing: 0.1mm;
}

fieldset {
  border: 1px solid grey;
}

legend {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  background: #f2f2f2;
  padding: 10px;
}

label[for="male"], label[for="female"], label[for="other"] {
  cursor: pointer;
  letter-spacing: 0.1mm;
}

input[type="text"], input[type="email"] {
  display: block;
  margin-bottom: 10px;
  padding: 3px;
  height: 20px;
  border: 0;
  border-radius: 4px;
  font-size: 14px;
  background: #f2f2f2;
  width: 220px;
}

input[type="submit"] {
  padding: 3px;
  font-size: 14px;
  letter-spacing: 0.1em;
  border-radius:3px;
  width: 120px;
  border: 0;
  height: 20px;
}

input[type="submit"]:hover {
  background-color: #ddd;
  color: black;
}

/*Clear float*/
.clear::after {
  content: "br";
  clear: both;
  display: table;
}

hr {
  background: none;
  border: 0;
  clear: both;
  display: block;
  float: none;
  font-size: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
}

/*Footer*/
.footer {
  clear: both;
  display: block;
  width: 100%;
  left: 0;
  position: absolute;
  background: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(100,100,100);
  border-top: 10px solid rgb(230,230,230);
} 

.follow {
  margin-left: 20px;
  font-size: 20px;
}

.follow2 {
  font-size: 14px;
}

.follow img {
  max-width: 100px;
  opacity: 70;
}
