.header
{
    color: black;
    background-color:rgb(82, 71, 58);
    Margin: 0px 0px;
    Padding: 4px;
    width: 100%;  
    opacity: 0.9;
   
}

.titel
{
  font-size: 30px; 
  color: black;
  text-decoration: none;
  font-family: 'Times New Roman';
  text-align: center;
  letter-spacing: 2px; 
}

#klocka {
margin-top: 0px;
  width: 100%;
  opacity: 0.3;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 1318px;
}


.body {
  font-family: Times New Roman, Helvetica, sans-serif;
  color: rgb(100,100,100);
  margin: 0;
}

.meny a{
    
          text-decoration: none; 
          color:black;
       }

.meny {
  background-color:rgb(82, 71, 58);
  opacity: 0.9;
  padding: 5px;
    text-align:center;
    position: sticky;
    width: 100%;
    top: 0;
    margin-top: -19px;
}

.meny a:hover {
  text-decoration:underline;
  font-weight: bold;
    padding: 1px;
    color:rgb(121, 106, 87);
  line-height: 15px; /*gör att hover inte hoppar så mycket */
  font-size: inherit;
  text-align: center;
}

.Hem 
{
  background-color:rgb(82, 71, 58);
  font-size: 15px;
  text-align: center;
  display: inline-block;
  width: 16,6%;
}

.Anna 
{
  background-color:rgb(82, 71, 58);
  font-size: 15px;
  text-align: center;
  display: inline-block;
  width: 16,6%;
  margin-left: 30px;
}

.Vanessa 
{
  background-color:rgb(82, 71, 58);
  font-size: 15px;
  text-align: center;
  display: inline-block;
  width: 16,6%;
  margin-left: 30px;
}

.Raulf
{
  background-color:rgb(82, 71, 58);
  font-size: 15px;
   text-align: center;
  display: inline-block;
  width: 16,6%; 
  margin-left: 30px; 
}

.Emma 
{
  background-color:rgb(82, 71, 58);
font-size: 15px;
text-align: center;

display: inline-block;
width: 16,6%;
margin-left: 30px;
}

.Onur 
{
  background-color:rgb(82, 71, 58);
  font-size: 15px;
  text-align: center;

  display: inline-block;
   width: 16,6%;
  margin-left: 30px;
}

.historia
{
    text-align: center;
    /*margin-top:150px; */

}

.about
{
    text-align: center;
    margin-bottom: 150px;
    margin-top: 70px; 
}



    div p {
        color:black;
        line-height: 30px;
        font-family: Times New Roman;
        text-align: center;
        }

.column {
margin-left: 30%;
    text-align: center;
  float: left;
  width: 40%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*Min andra kolumn*/
.columnTwo {
  background-color: rgb(82, 71, 58);
  margin-left: 10%;
  text-align: center;
float: left;
width: 20%;
opacity: 0.9;
}

.rowTwo:after {
content: "";
display: table;
clear: both;
}


footer
{
background-color:rgb(82, 71, 58);  
opacity: 0.9;
color:rgb(22, 21, 21);
padding: 2px; 
font-size: 10px; 
letter-spacing: 2px; 
margin: 50px 0px 0px 0px;
text-align: center;
}

.nyhet
{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

#email
{
  Padding: 4px 150px 4px 0px;
  border-width: 8px;
  font-family: 'Times New Roman';
  font-size: 10px;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    display: inline-block;
    border-radius: 36px;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 8px;
}

  form input#email
{
  border-color: rgb(66, 58, 47);  
  font-size: 10px;
  opacity: 0.7;
    
}

  form input#email:valid:not(:placeholder-shown)
{
  
  border: 2px solid rgb(33, 141, 33);
}

#skicka
{
  font-family: 'Times New Roman';
  background-color:rgb(66, 58, 47); 
  border-color: rgb(66, 58, 47); 
  font-size: 12px;
    border-width: 2px;
    border-style: solid;
    text-align: center;
     Padding: 5px 10px;
    display: inline-block;
    border-radius: 36px;
    text-decoration: none;
    opacity: 0.9;
}

#skicka:hover{
  font-family: 'Times New Roman';
  background-color:rgb(121, 106, 87);
  border-color: rgb(121, 106, 87);
  Padding: 5px 10px;
    border-width: 2px;
    border-style: solid;
    color: rgb(22, 21, 21);;
  line-height: 20px; /*gör att hover inte hoppar så mycket */
  font-size: 12px;
}

#kontakt
{
  color: black;
  font-family: 'Times New Roman';
  background-color:rgb(66, 58, 47); 
  border-color: rgb(66, 58, 47); 
  font-size: 14px;
    border-width: 2px;
    border-style: solid;
    text-align: center;
     Padding: 5px 10px;
    display: inline-block;
    border-radius: 36px;
    text-decoration: none;
    opacity: 0.9;
    
}

#kontakt:hover 
{
  font-family: 'Times New Roman';
  background-color:rgb(121, 106, 87);
  border-color: rgb(121, 106, 87);
  Padding: 5px 10px;
    border-width: 2px;
    border-style: solid;
    color: rgb(22, 21, 21);;
  line-height: 16px; /*gör att hover inte hoppar så mycket */
  font-size: 14px;
  
}

/*Här börjar koden för Kontakta-oss formuläret på sida2*/ 

#formular 
{
  
  margin-top: 100px;
  margin-bottom: 60px;
  text-align:center;
  
}

#formular input[type="text"], input[type="telefon"], input[type="epost"]
{
border-radius: 4px;
}

#formular h1 
{
  margin-bottom: 50px;
}

form input#epost:valid:not(:placeholder-shown)
{
  
  border: 2px solid rgb(33, 141, 33);
}

#required
{
  font-family: 'Times New Roman';
  font-size: 10px;
}

#bio 
{
  opacity: 0.8;
  border-radius: 4px;
}

#skickaTvå
{
    font-family: 'Times New Roman';
    background-color:rgb(66, 58, 47); 
    border-color: rgb(66, 58, 47); 
    font-size: 14px;
      border-width: 2px;
      border-style: solid;
      text-align: center;
       Padding: 7px 12px;
      display: inline-block;
      border-radius: 36px;
      text-decoration: none;
      opacity: 0.9;
  }
  
  #skickaTvå:hover{
    font-family: 'Times New Roman';
    background-color:rgb(121, 106, 87);
    border-color: rgb(121, 106, 87);
    Padding: 7px 12px;
      border-width: 2px;
      border-style: solid;
      color: rgb(22, 21, 21);;
    line-height: 20px; /*gör att hover inte hoppar så mycket */
    font-size: 14px;
  }

  #tillbaka
  {
    color: black;
    font-family: 'Times New Roman';
    background-color:rgb(66, 58, 47); 
    border-color: rgb(66, 58, 47); 
    font-size: 14px;
      border-width: 2px;
      border-style: solid;
      text-align: center;
       Padding: 7px 12px;
      display: inline-block;
      border-radius: 36px;
      text-decoration: none;
      opacity: 0.9;
  }

  #tillbaka:hover 
  {
    font-family: 'Times New Roman';
    background-color:rgb(121, 106, 87);
    border-color: rgb(121, 106, 87);
    Padding: 7px 12px;
      border-width: 2px;
      border-style: solid;
      color: rgb(22, 21, 21);;
    line-height: 20px; /*gör att hover inte hoppar så mycket */
    font-size: 14px;
  }
