.header
{
    color: black;
    background-color:rgb(82, 71, 58);
    Margin: 0px 0px;
    Padding: 4px;
    width: 100%;  
    opacity: 0.9;
   
}

.titel
{
  font-size: 30px; 
  color: black;
  text-decoration: none;
  font-family: 'Times New Roman';
  text-align: center;
  letter-spacing: 2px; 
}

#klocka-bakgrund {
 top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
}


body {
  font-family: Times New Roman, Helvetica, sans-serif;
}


.backgroundTest {
  z-index: -1;
  background-image: url(https://cdn.wallpapersafari.com/72/22/QSEJ8W.jpg);
  opacity: 0.5;
  content: "";
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.meny a{
    
          text-decoration: none; 
          color:black;
       }

.meny {
  background-color:rgb(82, 71, 58);
  box-shadow: 3px 3px rgb(59, 52, 42);
  opacity: 0.9;
  padding: 5px;
    text-align:center;
    position: sticky;
    width: 100%;
    top: 0;
    margin-top: -19px;
}

.meny a:hover {
  text-decoration:underline;
    color:rgb(148, 130, 107);
  font-size: inherit;
  text-align: center;
}

.Hem 
{
  background-color:rgb(82, 71, 58);
  font-size: 15px;
  text-align: center;
  display: inline-block;
  width: 16,6%;
}

.Anna 
{
  background-color:rgb(82, 71, 58);
  font-size: 15px;
  text-align: center;
  display: inline-block;
  width: 16,6%;
  margin-left: 30px;
}

.Vanessa 
{
  background-color:rgb(82, 71, 58);
  font-size: 15px;
  text-align: center;
  display: inline-block;
  width: 16,6%;
  margin-left: 30px;
}

.Raulf
{
  background-color:rgb(82, 71, 58);
  font-size: 15px;
   text-align: center;
  display: inline-block;
  width: 16,6%; 
  margin-left: 30px; 
}

.Emma 
{
  background-color:rgb(82, 71, 58);
font-size: 15px;
text-align: center;

display: inline-block;
width: 16,6%;
margin-left: 30px;
}

.Onur 
{
  background-color:rgb(82, 71, 58);
  font-size: 15px;
  text-align: center;

  display: inline-block;
   width: 16,6%;
  margin-left: 30px;
}

.historia
{
    text-align: center;
}

.about
{
    text-align: center;
    margin-bottom: 150px;
    margin-top: 70px; 
}

.p {
        color:black;
        line-height: 30px;
        font-family: Times New Roman;
        text-align: center;
        }

.column {
margin-left: 30%;
text-align: center;
  float: left;
  width: 40%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*Min andra kolumn med tre rutor*/
.columnTwo {
  background-color: rgb(82, 71, 58);
  margin-left: 9%;
  text-align: center;
float: left;
width: 20%;
opacity: 0.9;
padding: 20px;
border-radius: 10px;
margin-bottom: 20px;
}

.rowTwo:after {
content: "";
display: table;
clear: both;
}


footer
{
background-color:rgb(82, 71, 58);
box-shadow: 3px 3px rgb(59, 52, 42);  
opacity: 0.9;
color:rgb(22, 21, 21);
padding: 2px; 
font-size: 10px; 
letter-spacing: 2px; 
margin: 84px 0px 0px 0px;
text-align: center;
}

  form input#email
{
  border-color: rgb(66, 58, 47);  
  font-size: 10px;
  opacity: 0.7;
    
}

  form input#email:valid:not(:placeholder-shown)
{
  
  border: 2px solid rgb(33, 141, 33);
}

#skicka
{
  font-family: 'Times New Roman';
  background-color:rgb(66, 58, 47); 
  border-color: rgb(66, 58, 47); 
  font-size: 12px;
    border-width: 2px;
    border-style: solid;
    text-align: center;
     Padding: 5px 10px;
    display: inline-block;
    border-radius: 36px;
    text-decoration: none;
    opacity: 0.9;
}

#skicka:hover{
  font-family: 'Times New Roman';
  background-color:rgb(121, 106, 87);
  border-color: rgb(121, 106, 87);
  Padding: 5px 10px;
    border-width: 2px;
    border-style: solid;
    color: rgb(22, 21, 21);;
  line-height: 20px; /*gör att hover inte hoppar så mycket */
  font-size: 12px;
}

#kontakt
{
  color: black;
  font-family: 'Times New Roman';
  background-color:rgb(121, 106, 87); 
  border-color: rgb(66, 58, 47); 
  font-size: 14px;
    text-align: center;
    Padding: 4px 9px;
    display: inline-block;
    border-radius: 36px;
    text-decoration: none;
    cursor: pointer; 
    box-shadow: 2px 2px rgb(63, 55, 45);
    font-weight: bold; 
    margin-top: 15px;
    margin-bottom: 20px;
    
}

#kontakt:hover 
{
  font-family: 'Times New Roman';
  background-color:rgb(148, 130, 107);
  border-color: rgb(148, 130, 107);
  color: rgb(22, 21, 21);;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;  
}

/*Här börjar koden för Kontakta-oss formuläret på sida2*/ 

#formular 
{
  
  margin-top: 100px;
  margin-bottom: 60px;
  text-align:center;
  
}

#formular input[type="text"], input[type="telefon"], input[type="epost"]
{
border-radius: 4px;
}

#formular h1 
{
  margin-bottom: 50px;
}

form input#epost:valid:not(:placeholder-shown)
{
  
  border: 2px solid rgb(33, 141, 33);
}

#required
{
  font-family: 'Times New Roman', cursive;
  font-size: 10px;
  }

.bio 
{
  opacity: 0.8;
  border-radius: 4px;
}

.knapp
{
    font-family: 'Times New Roman';
    background-color:rgb(121, 106, 87);  
    font-size: 14px;
    color: black;
    text-align: center;
    Padding: 7px 12px;
    display: inline-block;
    border-radius: 36px;
    text-decoration: none;
    opacity: 0.7;
    box-shadow: 2px 2px rgb(82, 71, 58);
    cursor: pointer; 
  }
  
  .knapp:hover
  {
    font-family: 'Times New Roman';
    background-color: rgb(148, 130, 107);
    Padding: 7px 12px;
    color: rgb(22, 21, 21);;
    font-size: 14px;
  }

  /* Kod för javascript så att ett meddelande går ut när man klickar på "skicka" knappen*/
  .reply
  {
    font-size: 12px;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s; 
  }
  .reply-active
  {
      visibility: visible; 
      opacity: 1;
  }


  /* Här börjar CSS för javascriptet "prenumerera på vårt nyhetsbrev!" */ 

  .button /*Prenumerera-knappen*/
{
margin: 20px; 
padding: 10px 30px; 
background-color: rgb(121, 106, 87);
box-shadow: 3px 3px rgb(59, 52, 42); 
border: none; 
font-family: times new roman; 
cursor: pointer; 
border-radius: 36px;
}

.button:hover /*När man hovrar över prenumerera knappen*/
{
margin: 20px; 
padding: 10px 30px; 
background-color: rgb(148, 130, 107); 
border: none; 
font-family: times new roman; 
cursor: pointer; 
border-radius: 36px;
}

.button-bg /*popupen lägger sig över hela sidan*/
{
    position: fixed;
    width: 100%;
    height: 100vh; 
    top: 0; 
    left: 0;
    background-color:rgb(0,0,0,0.5);
    display: flex;
    justify-content:center;
    align-items:center;  
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s; 
}

.bg-active
{
    visibility: visible; 
    opacity: 1;
}

.popup /*Själva popup-rutan*/
{
    position: relative;
    font-family: times new roman; 
    background-color:white; 
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items:center; 
    flex-direction: column; 
    border-radius: 36px;
}

.popUpButton /*Knappen på popupen*/
{
        margin: 20px; 
        padding: 10px 30px; 
        background-color: rgb(121, 106, 87);; 
        border: none; 
        font-family: times new roman; 
        cursor: pointer; 
        border-radius: 36px;
        }
        
        .popUpButton:hover /*När man hovrar över popup-prenumerera-knappen*/
        {
        margin: 20px; 
        padding: 10px 30px; 
        background-color: rgb(148, 130, 107);
        border: none; 
        font-family: times new roman; 
        cursor: pointer; 
        border-radius: 36px;
}

.tack
{
    opacity: 0;
    transition: visibility 0s, opacity 0.5s; 
}

.tack-active
{
    visibility: visible; 
    opacity: 1;
}

.x-close {
    position: absolute;
    top: 10px;
    right: 13px; 
    font-family: times new roman; 
    font-size: 8px;
    cursor: pointer;
}

/*Media Queries*/ 

/*
@media screen and (max width: 700px) {

  .columnTwo{
  margin-top: 40px;
  width: 50%
  }

  #klocka-bakgrund {
    margin-top: 0px;
      width: 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-color: rgb(82, 71, 58);
      height: 100%;
    }

}
@media screen and (max width: 450px) {

  .columnTwo{
  width: 80%
  margin-top: 40px;
  }

  #klocka-bakgrund {
    margin-top: 0px;
      width: 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-color: rgb(82, 71, 58);
      height: 100%;
    }

}*/