
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
section
{
    position: relative;
    widows: 100%;
    min-height: 100vh;
    background: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: darkgrey;
    clip-path: polygon(54% 0, 100% 0, 100% 100%, 84% 100%);
    animation: fade-in 0.5s ease-in forwards;
    animation-delay: 0.5s;
    opacity: 0;
}
section .content
{
    position: relative;
    padding: 100px 50px 100px 150px;
    box-sizing: border-box;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 0.2s;
    opacity: 0;
}
section .content h2
{
    color: #fff;
    font-size: 3em;
    font-weight: 800;
}
section .content p
{
    color: #fff;
    font-size: 1.2em;
}
section .content a
{
    position: relative;
    display: inline-block;
    padding: 15px 30 px;
    margin-top: 20px;
    background: #ff2562;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.95em;
    font-weight: 700;
    letter-spacing: 2px;
}
section .imgBx
{
    position: relative;
    padding-right: 100px;
}
section .imgBx img
{
    max-width: 500px;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 0.7s;
    opacity: 0;
}
.media
{
    position: absolute;
    bottom: 75px;
    left: 150;
    display: flex;
    padding: 100px;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 0s;
    opacity: 1;
}
.media li
{
    list-style: none;
}
.media li a
{
    text-decoration: none;
    color: #999;
    margin-right: 30px;
    font-size: 0.9em;
}
.media li a:hover
{
    color: #fff;
}

.menybar
{
    position: absolute;
    top: 75px;
    left: 150;
    display: flex;
    border-left: 10px solid #ff2562; 
    padding-left: 100px;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 0s;
    opacity: 0;
}
.menybar li
{
    list-style-type: none;
}
.menybar li a
{
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 700;
}
.menybar li a.active,
.menybar li a:hover
{
    color: #ff2562;
}
@keyframes fade-in
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@keyframes left-in
{
    0%
    {
        transform: translateX(200px);
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}